<h1>Winter is Coming...</h1>

<ul>
  <% @characters.each do |character| %>
    <li><a href="/characters/<%= character.id %>"><%= character.name %></a></li>
      <ul>
        <li>House <%= character.house %></li>
        <li>From <%= character.city %></li>
      </ul>
  <% end %>
</ul>
